/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 98%;                     /* */
    max-width: 1400px;
    margin: 0 auto;
    border: 3px solid green ;
    background-color: #fff;
    display: grid;
    grid-template: repeat(4, auto) / auto 1fr;
    grid-template-areas:
        "head head"
        "navi navi"
        "main main"
        "foot foot";
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
    background-color: #A5D6B8;
    grid-area: head;
}
header h2 {
    text-align: center;
    font-family:monospace;
}
header h4 {
    text-align: center;
    font-family:cursive;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* the styles for the navigation menu */
#nav_menu {
    grid-area: navi;
}
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    display: grid;
    grid-template: auto / repeat(5, 1fr);
    align-content: center;
}
#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #50f38e;
    color: white;
    font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}
/* the styles for the main content */
main {
    grid-area: main;
    display: grid;
    grid-template: repeat(5, auto) /auto 1fr;
    grid-gap: 2.5%;
    grid-template-areas: 
    "main_image main_image"
    "intro intro"
    "mid mid"
    "slideshow slideshow";
}
.main_image {
    grid-area: main_image;
}
section.intro {
    display: grid;
    grid-template: auto / 45% auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
    grid-area: intro;
}
.fas {
    color: gold;
}
.fas span {
    color: black;
}
.start {
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 2em;
}
.start ul, .menu ul {
    list-style-type: none;
    padding: 1.25em;
}
.start ul li, .menu ul li {
    padding-bottom: 1.5em;
}
.videos {
    grid-row: 1/2;
    grid-column: 2/3;
}
.videos video {
    width: 35%;
}
section.mid {
    display: grid;
    grid-template: auto / 25% auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
    grid-area: mid;
}
aside.speakers {
    grid-row: 1/2;
    grid-column: 1/2;
}
aside.speakers img {
    border: 1px solid gold;
}
aside.details {
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, auto);
    grid-gap: 1.5%;
}
aside.details > div {
    box-shadow: 4px 4px 4px 4px rgb(170, 166, 166);
}
.why_us, .quote {
    border-left: 3px solid gold;
    padding: 1em;
    padding-top: 1.5em;
}
.why_us p, .quote p {
    padding-top: 2em;
    text-align: center;
}
.info {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, auto);
}
 .specific {
    padding: 0.5em;
    text-align: center;
}
.quote img {
    border-radius: 50%;
    margin-top: 2em;
}
#top {
    padding: 0;
    margin: 0.5em;
}
#mobile_menu {
	display: none;
}
.slideshow {
    grid-area: slideshow;
}
/* the styles for the footer content */
footer {
    grid-area: foot;
    display: grid;
    grid-template: auto / repeat(4, auto);
    grid-gap: 1.5%;
    margin-top: 12em;
    padding-bottom: 2em;
    color: white;
    background-color: rgb(27, 25, 25);
}
footer div {
    padding-top: 1em;
    padding-bottom: 1em;
}
.menu {
    grid-row: 1/2;
    grid-column: 1/4;
}
.menu a {
    text-decoration: none;
    color: whitesmoke;
}

.contacts {
    grid-row: 1/2;
    grid-column: 4/7 ;
}
.contacts p {
    padding: 0.5em;
}
.newsletter {
    grid-row: 1/2;
    grid-column: 7/10 ;
}
.social_posts {
    grid-row: 1/2;
    grid-column: 10/12 ;
}
.social_posts span a {
    font-size: 2em;
    text-decoration: none;
    margin-left: 0.75em;
}
/* tablet portrait to standard 960 */
@media only screen and (max-width: 959px) {
	section h1 { font-size: 135%; }
	section h2, aside h2 { font-size: 120%; }
}

/* mobile landscape to tablet portrait */
@media only screen and (max-width: 767px) {

   
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
	}
	.slicknav_menu {
		background-color: #800000 !important;
	}
}

/* mobile portrait to mobile landscape */
@media only screen and (max-width: 479px) {
	body { font-size: 90%; }
}
